.input__padding {
  padding: 8px 12px;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
body {
  font-family: 'Noto Sans KR', sans-serif;
  overflow-x: hidden;
}
.d_block {
  display: block;
}


