.Tear {
  .member {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 307px;
    height: 400px;
    margin-top: 20px;
    border: 1px solid #000;
    background-color: #fff;

    img {
      width: 70px;
      margin-top: 80px;
    }

    p {
      font-size: 20px;
      font-weight: bold;
      margin-top: 20px;
    }

    span {
      margin-top: 15px;
    }

    .more {
      display: flex;
      justify-content: center;
      width: 307px;
      height: 50px;
      margin-top: 70px;
      text-align: center;
      background-color: #244381;

      a {
        color: #fff;
      }
    }
  }
}
