.Navbar {
  position: fixed;
<<<<<<< HEAD
  width: 100%;
  padding: 25px 60px;
  background-color: #fff;
  .nav {
=======
  width:100%;
  z-index: 1;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 80px;
  
  .NavbarMenu {
>>>>>>> main
    display: flex;
    align-items: center;



  }
}
