.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  .NavbarMenu {
    display: flex;
    align-items: center;
    li {
      margin: 0 15px;
      a {
        color: rgb(140, 137, 137);
      }
    }
    li.myPolo a {
      color: #dd1785;
    }
  }
	.NavbarUser{
		display: flex;
		align-items: center;
		li{
			margin:0 15px;
			a{
				color:#000;
			}
		}
	}
}
